.p1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', serif !important;
    font-size: 20px;
    color:#ff0000;
    text-decoration: none;
  }

.link {
    text-decoration: none;
    color: black;
}

.container2 {
  width: 280px;
  margin-top: 25px;
}

.num {
  color:#010101;
}






