.px-2 {
margin-left: 0px;
margin-bottom: 10px;
}

.boton1{
    margin-left: 5px;
    margin-right: 5px;
}

.boton2{
    margin-left: 5px;
    margin-right: 5px;
}

.boton3{
    margin-left: 5px;
    margin-right: 5px;
}